

body{
	width: 100%;
	height: 100vh;
	background-image: url("img/Funny1")
	 background-repeat: no-repeat;
	background-size: 130px;
	position: absolute;
	top: 0px;
	left: 0px;

}
       body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img/Funny1");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}